/vendor/
/node_modules/

composer.phar
composer.lock

npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

/assets/build/
/assets/css/*.min.css
/assets/js/*.min.js

.sass-cache/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store
Thumbs.db

.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

*.tmp